{% extends 'base.html.twig' %}
    {% block content %}
        <div class="row">
            {% for subCategory in subCategories %}

                <div class="col-sm-6 col-md-2">
                    <h4>
                        <a href="{{ path('product_detail', {'categoryName': category.slug|e ,'subCategoryName': subCategory.slug|e }) }}">{{ subCategory.name }}</a>
                    </h4>
                </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-2">
                <div class="thumbnail">
                    <img src="{{ asset('brand-32x32.png') }}" class="img-rounded" alt="Cinque Terre">

                    <div class="caption">
                        <h4>Thumbnail label</h4>
                        <p>...</p>
                        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#"
                                                                                                               class="btn btn-default"
                                                                                                               role="button">Button</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}
