{% extends 'base.html.twig' %}

{% block content%}
    <h1>Page not found</h1>

    <p>
     {# TODO improve the look this page #}
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('site_index') }}">return to the homepage</a>.
    </p>
{% endblock %}